.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#filters {
    text-align: center;
}


.encadrer-un-contenu{ border: 1px solid black; padding: 5px; }
.conteneur {
    overflow:hidden;
    font-size: "6";

}

.colp {width:50%; float:left; display:inline}

.trash {
    color:rgb(209, 91, 71);
    float: right;
}
.flag {
    color:rgb(248, 148, 6);
    float: right;
}


.test {
    float:right;
    width: 100%;
}

.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }

.button {
    border-radius:12px;
    background-color: #648ad4;
}

.oui {
    margin-left: 20%;

}
