@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.header
 {
    padding: 60px;
    text-align: center;
    color: white;
    background: cornflowerblue;
    font-size: 30px;
 }
